header{
    background-color: orange;
    height: 200px;
}

#menu{
    background-color: green;
}

#body{
    background-color: rgb(196, 197, 27);
    float: left;
    width: 50%;
    min-height: 200px;
}

#right{
    background-color: red;
    float: right;
    width: 25%;
    min-height: 200px;
}

#left{
    background-color: blueviolet;
    float: left;
    width: 25%;
    min-height: 200px;
}

#footer{
    background-color: black;
    clear: both;
}